<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kelime_Ezber.Properties.Settings.KelimeEzberConnectionString"
            connectionString="Data Source=P-X\SQLEXPRESS;Initial Catalog=KelimeEzber;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kelime_Ezber.Properties.Settings.KelimeEzberConnectionString1"
            connectionString="Data Source=LAPTOP-ONB0MHF9;Initial Catalog=KelimeEzber;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
